## DataFrame et Series

In [21]:
import pandas as pd
import numpy as np

In [22]:
#Series
a = pd.Series(np.array([1,2,3]))
print(a)
print(pd.Series([4,5,6]))

0    1
1    2
2    3
dtype: int32
0    4
1    5
2    6
dtype: int64

In [23]:
#DataFrame
pd.DataFrame({'colonne1': [1,2,3],
             'colonne2': [5,4,3]})

   colonne1  colonne2
0         1         5
1         2         4
2         3         3

In [24]:
#df.head(n) afficher les n premi√®re lignes de notre DF

df_covid = pd.read_csv('https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_daily_reports/04-19-2020.csv')
df_covid.head(2)

,FIPS,Admin2,Province_State,Country_Region,Last_Update,Lat,Long_,Confirmed,Deaths,Recovered,Active,Combined_Key
0,45001.0,Abbeville,South Carolina,US,2020-04-19 23:41:01,34.223334,-82.461707,17,0,0,17,"Abbeville, South Carolina, US"
1,22001.0,Acadia,Louisiana,US,2020-04-19 23:41:01,30.295065,-92.414197,110,7,0,103,"Acadia, Louisiana, US"

In [25]:
#set_index
#pour enregistr√© changement d'index
df_covid.set_index('Country_Region', inplace=True)
df_covid.head()

,FIPS,Admin2,Province_State,Last_Update,Lat,Long_,Confirmed,Deaths,Recovered,Active,Combined_Key
Country_Region,,,,,,,,,,,
US,45001.0,Abbeville,South Carolina,2020-04-19 23:41:01,34.223334,-82.461707,17,0,0,17,"Abbeville, South Carolina, US"
US,22001.0,Acadia,Louisiana,2020-04-19 23:41:01,30.295065,-92.414197,110,7,0,103,"Acadia, Louisiana, US"
US,51001.0,Accomack,Virginia,2020-04-19 23:41:01,37.767072,-75.632346,42,0,0,42,"Accomack, Virginia, US"
US,16001.0,Ada,Idaho,2020-04-19 23:41:01,43.452658,-116.241552,598,10,0,588,"Ada, Idaho, US"
US,19001.0,Adair,Iowa,2020-04-19 23:41:01,41.330756,-94.471059,1,0,0,1,"Adair, Iowa, US"

In [27]:
df_covid.reset_index(inplace=True)
df_covid.head()

,Country_Region,FIPS,Admin2,Province_State,Last_Update,Lat,Long_,Confirmed,Deaths,Recovered,Active,Combined_Key
0,US,45001.0,Abbeville,South Carolina,2020-04-19 23:41:01,34.223334,-82.461707,17,0,0,17,"Abbeville, South Carolina, US"
1,US,22001.0,Acadia,Louisiana,2020-04-19 23:41:01,30.295065,-92.414197,110,7,0,103,"Acadia, Louisiana, US"
2,US,51001.0,Accomack,Virginia,2020-04-19 23:41:01,37.767072,-75.632346,42,0,0,42,"Accomack, Virginia, US"
3,US,16001.0,Ada,Idaho,2020-04-19 23:41:01,43.452658,-116.241552,598,10,0,588,"Ada, Idaho, US"
4,US,19001.0,Adair,Iowa,2020-04-19 23:41:01,41.330756,-94.471059,1,0,0,1,"Adair, Iowa, US"

In [29]:
#renommer colonne
df_covid.rename(columns={'Admin2': 'Admin'}, inplace=True)
df_covid.head()

,Country_Region,FIPS,Admin,Province_State,Last_Update,Lat,Long_,Confirmed,Deaths,Recovered,Active,Combined_Key
0,US,45001.0,Abbeville,South Carolina,2020-04-19 23:41:01,34.223334,-82.461707,17,0,0,17,"Abbeville, South Carolina, US"
1,US,22001.0,Acadia,Louisiana,2020-04-19 23:41:01,30.295065,-92.414197,110,7,0,103,"Acadia, Louisiana, US"
2,US,51001.0,Accomack,Virginia,2020-04-19 23:41:01,37.767072,-75.632346,42,0,0,42,"Accomack, Virginia, US"
3,US,16001.0,Ada,Idaho,2020-04-19 23:41:01,43.452658,-116.241552,598,10,0,588,"Ada, Idaho, US"
4,US,19001.0,Adair,Iowa,2020-04-19 23:41:01,41.330756,-94.471059,1,0,0,1,"Adair, Iowa, US"

In [35]:
#Acc√©der au donn√©es
#boolean, selection de certaines donn√©es

df_covid[df_covid['Country_Region'] == 'US']

,Country_Region,FIPS,Admin,Province_State,Last_Update,Lat,Long_,Confirmed,Deaths,Recovered,Active,Combined_Key
0,US,45001.0,Abbeville,South Carolina,2020-04-19 23:41:01,34.223334,-82.461707,17,0,0,17,"Abbeville, South Carolina, US"
1,US,22001.0,Acadia,Louisiana,2020-04-19 23:41:01,30.295065,-92.414197,110,7,0,103,"Acadia, Louisiana, US"
2,US,51001.0,Accomack,Virginia,2020-04-19 23:41:01,37.767072,-75.632346,42,0,0,42,"Accomack, Virginia, US"
3,US,16001.0,Ada,Idaho,2020-04-19 23:41:01,43.452658,-116.241552,598,10,0,588,"Ada, Idaho, US"
4,US,19001.0,Adair,Iowa,2020-04-19 23:41:01,41.330756,-94.471059,1,0,0,1,"Adair, Iowa, US"
...,...,...,...,...,...,...,...,...,...,...,...,...
2829,US,66.0,NaN,Guam,2020-04-19 23:41:01,13.444300,144.793700,136,5,0,131,"Guam, US"
2856,US,69.0,NaN,Northern Mariana Islands,2020-04-19 23:41:01,15.097900,145.673900,14,2,0,12,"Northern Mariana Islands, US"
2863,US,72.0,NaN,Puerto Rico,2020-04-19 23:41:01,18.220800,-66.590100,1213,62,0,1151,"Puerto Rico, US"
2868,US,NaN,NaN,Recovered,2020-04-19 23:41:01,NaN,NaN,0,0,70337,-70337,"Recovered, US"
2887,US,78.0,NaN,Virgin Islands,2020-04-19 23:41:01,18.335800,-64.896300,53,3,0,50,"Virgin Islands, US"

In [37]:
df_covid[df_covid['Country_Region'] == 'US'].shape

(2810, 12)

In [38]:
(df_covid[df_covid['Country_Region'] == 'US'].shape[0])/df_covid.shape[0] * 100

90.76227390180878

In [39]:
#afficher donn√©es que l'on veut
df_covid.columns

Index(['Country_Region', 'FIPS', 'Admin', 'Province_State', 'Last_Update',
       'Lat', 'Long_', 'Confirmed', 'Deaths', 'Recovered', 'Active',
       'Combined_Key'],
      dtype='object')

In [42]:
#Afficher que certaines colonnes
df_covid[['Country_Region','Confirmed', 'Deaths', 'Recovered', 'Active']].head()

  Country_Region  Confirmed  Deaths  Recovered  Active
0             US         17       0          0      17
1             US        110       7          0     103
2             US         42       0          0      42
3             US        598      10          0     588
4             US          1       0          0       1

In [52]:
#Loc peut avoir plusieurs dimensions (Mettre entre '[]')
df_covid.set_index('Country_Region').loc['US'].head()

,FIPS,Admin,Province_State,Last_Update,Lat,Long_,Confirmed,Deaths,Recovered,Active,Combined_Key
Country_Region,,,,,,,,,,,
US,45001.0,Abbeville,South Carolina,2020-04-19 23:41:01,34.223334,-82.461707,17,0,0,17,"Abbeville, South Carolina, US"
US,22001.0,Acadia,Louisiana,2020-04-19 23:41:01,30.295065,-92.414197,110,7,0,103,"Acadia, Louisiana, US"
US,51001.0,Accomack,Virginia,2020-04-19 23:41:01,37.767072,-75.632346,42,0,0,42,"Accomack, Virginia, US"
US,16001.0,Ada,Idaho,2020-04-19 23:41:01,43.452658,-116.241552,598,10,0,588,"Ada, Idaho, US"
US,19001.0,Adair,Iowa,2020-04-19 23:41:01,41.330756,-94.471059,1,0,0,1,"Adair, Iowa, US"

In [53]:
#r√©cuper certaines lignes
df_covid.iloc[4:10]

,Country_Region,FIPS,Admin,Province_State,Last_Update,Lat,Long_,Confirmed,Deaths,Recovered,Active,Combined_Key
4,US,19001.0,Adair,Iowa,2020-04-19 23:41:01,41.330756,-94.471059,1,0,0,1,"Adair, Iowa, US"
5,US,21001.0,Adair,Kentucky,2020-04-19 23:41:01,37.104598,-85.281297,53,3,0,50,"Adair, Kentucky, US"
6,US,29001.0,Adair,Missouri,2020-04-19 23:41:01,40.190586,-92.600782,12,0,0,12,"Adair, Missouri, US"
7,US,40001.0,Adair,Oklahoma,2020-04-19 23:41:01,35.884942,-94.658593,43,3,0,40,"Adair, Oklahoma, US"
8,US,8001.0,Adams,Colorado,2020-04-19 23:41:01,39.874321,-104.336258,915,35,0,880,"Adams, Colorado, US"
9,US,16003.0,Adams,Idaho,2020-04-19 23:41:01,44.893336,-116.454525,1,0,0,1,"Adams, Idaho, US"

In [54]:
#Cr√©ation d'une nouvelle colonne avec somme des cas
df_covid['sum_all_cases'] = df_covid['Recovered']+df_covid['Active']+df_covid['Deaths']

In [55]:
df_covid.head()

,Country_Region,FIPS,Admin,Province_State,Last_Update,Lat,Long_,Confirmed,Deaths,Recovered,Active,Combined_Key,sum_all_cases
0,US,45001.0,Abbeville,South Carolina,2020-04-19 23:41:01,34.223334,-82.461707,17,0,0,17,"Abbeville, South Carolina, US",17
1,US,22001.0,Acadia,Louisiana,2020-04-19 23:41:01,30.295065,-92.414197,110,7,0,103,"Acadia, Louisiana, US",110
2,US,51001.0,Accomack,Virginia,2020-04-19 23:41:01,37.767072,-75.632346,42,0,0,42,"Accomack, Virginia, US",42
3,US,16001.0,Ada,Idaho,2020-04-19 23:41:01,43.452658,-116.241552,598,10,0,588,"Ada, Idaho, US",598
4,US,19001.0,Adair,Iowa,2020-04-19 23:41:01,41.330756,-94.471059,1,0,0,1,"Adair, Iowa, US",1

In [56]:
#Insertion √† une certaines place
df_covid.insert(2, 'sum_all_cases2', df_covid['Recovered']+df_covid['Active']+df_covid['Deaths'])

In [57]:
df_covid.head()

,Country_Region,FIPS,sum_all_cases2,Admin,Province_State,Last_Update,Lat,Long_,Confirmed,Deaths,Recovered,Active,Combined_Key,sum_all_cases
0,US,45001.0,17,Abbeville,South Carolina,2020-04-19 23:41:01,34.223334,-82.461707,17,0,0,17,"Abbeville, South Carolina, US",17
1,US,22001.0,110,Acadia,Louisiana,2020-04-19 23:41:01,30.295065,-92.414197,110,7,0,103,"Acadia, Louisiana, US",110
2,US,51001.0,42,Accomack,Virginia,2020-04-19 23:41:01,37.767072,-75.632346,42,0,0,42,"Accomack, Virginia, US",42
3,US,16001.0,598,Ada,Idaho,2020-04-19 23:41:01,43.452658,-116.241552,598,10,0,588,"Ada, Idaho, US",598
4,US,19001.0,1,Adair,Iowa,2020-04-19 23:41:01,41.330756,-94.471059,1,0,0,1,"Adair, Iowa, US",1

In [58]:
#df.describe() donne les caract√©ristiques
df_covid.describe()

,FIPS,sum_all_cases2,Lat,Long_,Confirmed,Deaths,Recovered,Active,sum_all_cases
count,2799.000000,3096.000000,3034.000000,3034.000000,3096.000000,3096.000000,3096.000000,3096.000000,3096.000000
mean,31226.101108,775.826873,36.447729,-80.169529,776.122739,54.071382,201.625323,520.130168,775.826873
std,17232.001408,7664.311155,10.356948,42.479583,7658.157870,797.804822,3160.216908,5086.088042,7664.311155
min,66.000000,0.000000,-51.796300,-175.198200,0.000000,0.000000,0.000000,-70337.000000,0.000000
25%,18108.000000,5.000000,33.719459,-95.837962,5.000000,0.000000,0.000000,4.000000,5.000000
50%,29123.000000,19.000000,37.812092,-87.563812,19.000000,0.000000,0.000000,17.000000,19.000000
75%,46061.000000,90.000000,41.487650,-81.061981,90.000000,3.000000,0.000000,77.000000,90.000000
max,99999.000000,198674.000000,71.706900,178.065000,198674.000000,23660.000000,88000.000000,124249.000000,198674.000000

In [60]:
df_covid.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3096 entries, 0 to 3095
Data columns (total 14 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Country_Region  3096 non-null   object
 1   FIPS            2799 non-null   float64
 2   sum_all_cases2  3096 non-null   int64
 3   Admin           2803 non-null   object
 4   Province_State  2912 non-null   object
 5   Last_Update     3096 non-null   object
 6   Lat             3034 non-null   float64
 7   Long_           3034 non-null   float64
 8   Confirmed       3096 non-null   int64
 9   Deaths          3096 non-null   int64
 10  Recovered       3096 non-null   int64
 11  Active          3096 non-null   int64
 12  Combined_Key    3096 non-null   object
 13  sum_all_cases   3096 non-null   int64
dtypes: float64(3), int64(6), object(5)
memory usage: 338.8+ KB

In [69]:
#Compte le nombre de ligne
df_covid['Country_Region'].value_counts()

US                2810
China               34
Malaysia            17
Canada              15
United Kingdom      12
                  ...
Panama               1
Kiribati             1
Senegal              1
Chad                 1
Botswana             1
Name: Country_Region, Length: 189, dtype: int64

In [70]:
df_covid[df_covid['Country_Region']=='France']

,Country_Region,FIPS,sum_all_cases2,Admin,Province_State,Last_Update,Lat,Long_,Confirmed,Deaths,Recovered,Active,Combined_Key,sum_all_cases
2820,France,NaN,96,NaN,French Guiana,2020-04-19 23:40:41,4.000000,-53.000000,96,0,64,32,"French Guiana, France",96
2821,France,NaN,55,NaN,French Polynesia,2020-04-19 23:40:41,-17.679700,-149.406800,55,0,2,53,"French Polynesia, France",55
2828,France,NaN,148,NaN,Guadeloupe,2020-04-19 23:40:41,16.265000,-61.551000,148,8,73,67,"Guadeloupe, France",148
2848,France,NaN,163,NaN,Martinique,2020-04-19 23:40:41,14.641500,-61.024200,163,12,73,78,"Martinique, France",163
2849,France,NaN,271,NaN,Mayotte,2020-04-19 23:40:41,-12.827500,45.166244,271,4,117,150,"Mayotte, France",271
2852,France,NaN,18,NaN,New Caledonia,2020-04-19 23:40:41,-20.904305,165.618042,18,0,15,3,"New Caledonia, France",18
2869,France,NaN,408,NaN,Reunion,2020-04-19 23:40:41,-21.115100,55.536400,408,0,237,171,"Reunion, France",408
2870,France,NaN,6,NaN,Saint Barthelemy,2020-04-19 23:40:41,17.900000,-62.833300,6,0,5,1,"Saint Barthelemy, France",6
2872,France,NaN,1,NaN,Saint Pierre and Miquelon,2020-04-19 23:40:41,46.885200,-56.315900,1,0,0,1,"Saint Pierre and Miquelon, France",1
2881,France,NaN,37,NaN,St Martin,2020-04-19 23:40:41,18.070800,-63.050100,37,2,19,16,"St Martin, France",37
2951,France,NaN,152868,NaN,NaN,2020-04-19 23:40:41,46.227600,2.213700,151838,19692,36578,96598,France,152868